body {
  margin: 0;
}
.video-container div div {
  width: auto !important;
  height: auto !important;
}

.swiper {
  height: 100vh;
}

video {
  object-fit: cover;
  object-position: 50% 0;
  height: 100vh !important;
}
